/* ====== ABOUT SECTION ====== */

#about-section {
    background-image: url('../media/background_3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text-image-stack {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    min-width: 0; /* iOS flexbox fix */
}

.text-image-stack p {
    flex: 1 1 auto;
    margin: 0;
}

.text-image-stack img {
    max-height: 200px;
    width: auto;
    height: auto;
    max-width: 100%;
    border-radius: 20px;
    border: 6px solid orange;
    object-fit: cover; 
}

/* iOS-friendly vertical layout */
@media (max-width: 800px) {
    .text-image-stack {
        flex-direction: column;
        align-items: center;
    }

    .text-image-stack img {
        order: -1; /* somehow is better than column-reverse - fuck safari man :( */
        max-height: 250px;
        width: 100%;
        max-width: 450px;
    }
}
