#services-section {
    background-image: url('../media/background_4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* iOS rendering fixes - once again fuck safari! */
    -webkit-background-size: cover;
    -webkit-background-position: center;
    -webkit-background-repeat: no-repeat;
}
