#services-section {
    /* Image Background! */
    background-image: url('../media/background_3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}